<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>capitalize</title>
</head>
<link rel="stylesheet" th:href="@{/styles/albums.css}"
      href="../static/styles/albums.css">
<body>
<nav>
    <h2>Songr</h2>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/hello">Greeting</a>
        </li>

        <li>
            <a href="/capitalize/hello">Capitals</a>
        </li>
        <li>
            <a href="/addalbums">Albums</a>
        </li>
        <li>
            <a href="/addsong">Songs</a>
        </li>
    </ul>
</nav>
<h1>hello</h1>
<p th:text=${word} style="text-transform:uppercase"></p>
</body>
</html>