<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>song page</h1>
<div th:each="song:${songs}">
  <p th:text="${song.Song_title}"></p>
  <p th:text="${song.length}"></p>
  <p th:text=${song.trackNumber}></p>
  <p th:text="${song.album}"></p>
</div>

</div>
<form action="#" th:action="@{/songs}" th:object="${songs}" method="post">
  <h1>add albums</h1>
  <h2>title: <input type="text" th:field="*{Song_title}"/></h2>
<!--  <h2>artist: <input type="text" th:field="*{album}"/></h2>-->
<!--  <h2>songCount: <input type="number" th:field="*{trackNumber}"/></h2>-->
<!--  <h2>length: <input type="text" th:field="*{length}"/></h2>-->
  <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"></p>

</form>

</body>
</html>